
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(179, 211, 179);
}

.logo{
  border-radius: 3px;
  width: 50px; 
  margin-right: 20px;
}

.banner2{
  border-radius: 10px;
  width: 700px;
  padding: 20px;
}

.nav {

  display: flex;

}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 25px;
    font-size: 18px;
    margin: 5px;
    
  } 

  .hero-section {
    margin: 5px;
    padding: 50px;
   
  }

  .mission {
    margin: 5px;
    padding: 50px;
    background-color:rgb(7, 253, 7);
  }

  .recent-news{
    margin: 5px;
    padding: 50px;
    background-color:rgb(7, 253, 7);
  }

  .footer {
    margin: 5px;
    padding: 50px;
    background-color:rgb(7, 253, 7);
  }
