
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
    border-radius: 5px;
    background-color:  rgb(213, 215, 215);
}



.hero-section {
  border-radius: 10px;
  color: aliceblue;

  height: 300px;
  margin: 30px;
  padding: 30px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); 
  background: linear-gradient(rgba(11, 233, 233, 0.1),#9aa9a8),url(images/banner2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 

.nav {
  background-color: rgb(30, 156, 125);
  display: flex;
  padding: 25px;
  align-items: center;
justify-content: space-between;
  border-radius: 5px;

}

.nav-logo {
 align-self: self-start;
}

.nav-item {
  background-color: rgba(0, 0, 0, 0.3);
color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    margin: 10px;
  
    border-radius: 5px;
    
  } 

  .hero-section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


   
  }

  .mission {
    margin: 5px;
    padding: 50px;
   
  }

  .recent-news{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
    padding: 50px;
  
  }
  .recent-news1 {
    justify-content: center;
    display: flex;
    gap: 50px;
    padding: 20px;
    font-size: 15px;
  
  }

  .recent-newsblood {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); 
  }

  .recent-newshealth{
  
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); 
   
  }

  .recent-newsvolunteering{

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); 
  }

  .recent-newsbible{
   
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); 
  }

  .recent-news2{
    justify-content: center;
    display: flex;
    gap: 50px;
    padding: 20px;
    font-size: 15px;
    
  }
  .blood1 {
    
    border-radius: 7px;
    width: 400px;
    height: 200px;
    padding: 20px;
  }

  .health1{
    border-radius: 7px;
    width: 400px;
    height: 200px;
    padding: 20px;
  }
  .health2 {
    border-radius: 7px;
    width: 400px;
    height: 200px;
    padding: 20px;
  }

  .health3 {
    border-radius: 7px;
    width: 400px;
    height: 200px;
    padding: 20px;
  }

  .vol1 {
    border-radius: 7px;
    width: 400px;
    height: 200px;
    padding: 20px;
  }

  .vol6 {
    border-radius: 7px;
    width: 400px;
    height: 200px;
    padding: 20px;
  }

  .vol7 {
    border-radius: 7px;
    width: 400px;
    height: 200px;
    padding: 20px;
  }

  .sports6{
    border-radius: 7px;
    width: 400px;
    height: 200px;
    padding: 20px;
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  }

  
  .sport1{
    border-radius: 7px;
    width: 400px;
    height: 200px;
    padding: 20px;
  }

  
  .sport2{
    border-radius: 7px;
    width: 400px;
    height: 200px;
    padding: 20px;
  }

  .get-involved {
    display: flex;
  }

  .blood2 {
    width: 400px;
    height: 200px;
    padding: 20px;
  }

  
  .bloodd2 {
    width: 400px;
    height: 200px;
    padding: 20px;
  }

  
  .bloodd1 {
    width: 400px;
    height: 200px;
    padding: 20px;
  }

  .content {
    padding: 40px;
    gap: 20px;
    display: flex;
    align-items: center;
  }

  .peace {
    height: 300px;
    margin: 30px;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); 
    background: linear-gradient(rgba(213, 228, 228, 0.1),#f5f8f8),url(images/footer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.peace1 {
  height: 300px;
  margin: 30px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); 
  background: linear-gradient(rgba(213, 228, 228, 0.1),#f5f8f8),url(images/banner3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
  .content1{
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    border: 1px solid  #359c27;
    background-color: rgb(30, 156, 125);
    border-radius: 5px;

  }

  .content2{
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    border: 1px solid #359c27;
    background-color: rgb(30, 156, 125);
    border-radius: 5px;
  }

  .get-involved {
    display: flex;
   justify-content: center;
   padding: 10px;
    gap: 15px;
   
  }

  .blood-get1 {
    width: 400px;
    height: 200px;
  }

  .blood-get2{
    width: 400px;
    height: 200px;
  }

  .blood-get3{
    width: 400px;
    height: 200px;
  }

  .blood-get4{
    width: 400px;
    height: 200px;
  }

  .projects{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .projects-section{
    padding: 30px;
    display: flex;
    flex-direction: column;

  }
  .projects-item {
  display: flex;
  flex-direction: row;
    width: 100px;

  }

  .image {
    width: 600px;
    height: 400px;
    padding: 40px;
  }

  .blood2 {
    width: 600px;
    height: 400px;
    padding: 40px;
  }

  .footer {
    gap: 70px;
    display: flex;
    height: 200px;
    border-radius: 3px;
    margin: 5px;
    padding: 50px;
    background-color: rgb(30, 156, 125) ;
   
  }

  .logo{
    border-radius: 75px;
    width: 75px; 
    height: 75px;
    margin-right: 20px;
    align-self: self-start;
  }
  .footer2{
    border-radius: 3px;
    width: 30px; 
    height: 30px;
  }

  .footer2-text1{
    gap: 5px;
    flex-direction: column;
    display: flex;
    color: aliceblue;
    font-size: xx-small;
  }
  .footer3{
    border-radius: 3px;
    width: 30px; 
    height: 30px;
  }
  
  .footer4{
    border-radius: 3px;
    width: 30px; 
    height: 30px;
  }

  .footer7{
    border-radius: 3px;
    width: 30px; 
    height: 30px;
  }

  .to-form {
  padding: 10px;
  }

  .news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  .news  video {
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
  }

  .news  video:hover{
    transform: scale(1.05);
  }

  

  @media (max-width: 768px) {
    

    .nav-item {
      display: flex;
      padding: 2px;
    }

    .mission {
      display: flex;
      padding: 5px;
    }

    .recent-news {
      display: flex;
      flex-direction: column;
      padding: 25px;
    }
    .recent-news1 {
      display: flex;
      flex-direction: column;
      padding: 25px;
    }

    .recent-news2 {
      display: flex;
      flex-direction: column;
      padding: 25px;
    }
  }
